emacs/.dir-locals.el
emacs/.emacs.desktop
emacs/.emacs.desktop.lock
emacs/abbrev_defs
emacs/auto-save-list/
emacs/chatgpt
emacs/ede-projects.el
emacs/eln-cache
emacs/elpa/
emacs/emms/
emacs/image-dired
emacs/multisession
emacs/persist
emacs/projects
emacs/tramp
emacs/transient/
emacs/tree-sitter
emacs/url
