.chatgpt-shell.el
.emacs.desktop
.emacs.desktop.lock
.org-id-locations
Emacs-DIYer
Emacs-vanilla
abbrev_defs
auto-save-list/
awesome-chatgpt-prompts
bookmarks
chatgpt
ede-projects.el
eln-cache
elpa/
emms/
eww-bookmarks
fabric
history
image-dired
lastdir
multisession
newsticker
ollama-buddy-presets
ollama-buddy-sessions
ollama-buddy-user-prompts
persist
projects
projects
recentf
s.dir-locals.el
tmp*
tramp
transient/
tree-sitter
url