*
!eshell/
!old-ada-mode/
!themes/
!.gitignore
!.gitmodules
!LICENSE
!README.org
!abbrev_defs
!emacs-init-all.org
!emacs-straight.org
!gallery.el
!init.el
!keymap_with_locked_modifiers.xkb
!keymap_with_sticky_modifiers.xkb
!menu.el
!plantuml jar
!templates
